.git
.github
.devcontainer
.venv
venv
__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.ipynb_checkpoints
.coverage
htmlcov
.env
*.log
logs
mlruns
mlartifacts
data/raw
data/processed
*.zip
.DS_Store
Thumbs.db
